<h1><%= @test_passage.test.title %> test was completed!</h1>

<% if @test_passage.success? %>
  <h3>You scored <div style="color: green"><%= @test_passage.score %>%</div></h3>
  <h4>You have passed the test</h4>
<% else %>
  <h3>You scored <div style="color: red"><%= @test_passage.score %>%</div></h3>
  <h4>You have failed the test</h4>
<% end %>

<br>
<br>
<%= link_to 'All tests', tests_path %>
<br>
