<tr>
<td><%= "#{answer.body}" %></td>
<td><%= link_to t('general.edit_action'), edit_admin_answer_path(answer) %></td>
<td><%= link_to t('general.delete_action'), admin_answer_path(answer), method: :delete, data: { confirm: t('general.confirm') } %></td>
</tr>
