.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.mismatch {
  border-color: #d44;
}

.match {
  border-color: #4eb;
}

div#deadline {
  text-align: center;
  margin: 10px auto 10px;
  font-size: 20pt;
}
